@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
breakpoints arguments:
- phone -> 600px = 37.5em
- tab-port -> 900px =56.25em
- tab-land -> 1200px = 75em
- big-desktop -> 1800px = 112.5em
*/

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 37.5em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-port {
        @media only screen and (max-width: 56.25em) {
            @content
        }
        ;
    }
    @if $breakpoint==tab-land {
        @media only screen and (max-width: 75em) {
            @content
        }
        ;
    }
    @if $breakpoint==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }
        ;
    }
}