$primary-color:#55c57a;
$primary-color-light:#7ed56f;
$primary-color-dark:#28b485;

$secondary-color-light:#ffb900;
$secondary-color-dark:#ff7730;

$tertiary-color-light:#2998ff;
$tertiary-color-dark:#5643fa;

$dark-grey:#777;
$dark-grey-2:#999;
$dark-grey-3:#333;
$light-grey:#eee;
$color-white:#fff;
$color-black:#000;
$color-grey-light:#f7f7f7;

$default-font-size:1.6rem;

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;