.section-about {
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -20vh;
    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right, rgba($primary-color-light, 0.801), rgba($primary-color-dark, 0.801)), url(/img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    &>* {
        transform: skewY(7deg);
    }
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    position: relative;
    padding: 15rem 0;
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-book {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.book {
    background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50%), url(/img/nat-10.jpg);
    background-size: cover;
    @include respond(tab-land) {
        background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 70%, transparent 70%), url(/img/nat-10.jpg);
    }
    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba($color-white, .9) 0%, rgba($color-white, .9) 100%), url(/img/nat-10.jpg);
    }
    &__form {
        width: 50%;
        padding: 6rem;
        @include respond(tab-land) {
            width: 70%;
        }
        @include respond(tab-port) {
            width: 100%;
        }
    }
}